<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nibmglobal.nibm">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- for card.io card scanning -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".app.Nibm"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_action_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".ui.splash.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullScren">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".ui.auth.login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nibmglobal.nibm.ui.initial.InitialActivity" />

        </activity>
        <activity
            android:name=".ui.initial.InitialActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".ui.download.ProspectusDownload"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nibmglobal.nibm.ui.initial.InitialActivity" />

        </activity>

        <activity
            android:name=".ui.student_activities.assignment.detail.AssignmentDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".ui.student_activities.studymaterial.detail.StudyMaterialChaperActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".ui.student_activities.studymaterial.detail.ChapterDetailActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".ui.student_activities.dispatched.detail.DispatchedDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".ui.exam.detail.ExamScheduleDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".ui.fees.detail.FeeDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".ui.initial.detail.FreeMBAJournalActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nibmglobal.nibm.ui.initial.InitialActivity" />

        </activity>
        <activity
            android:name=".ui.auth.register.RegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".ui.course.CourseActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nibmglobal.nibm.ui.initial.InitialActivity" />

        </activity>
        <activity
            android:name=".ui.contact.ContactusActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nibmglobal.nibm.ui.initial.InitialActivity" />

        </activity>
        <activity
            android:name=".ui.aboutus.AboutUsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nibmglobal.nibm.ui.initial.InitialActivity" />

        </activity>
        <activity
            android:name=".ui.videos.samplevideos.SampleVideosActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nibmglobal.nibm.ui.initial.InitialActivity" />

        </activity>
        <activity
            android:name=".ui.videos.detail.VideoShowingActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".ui.support.SupportActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nibmglobal.nibm.ui.main.MainActivity" />


        </activity>
        <activity android:name=".ui.Webinar.Webinar_videoshowing_activity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:screenOrientation="landscape"

            android:theme="@style/AppTheme"
            ></activity>
        <activity
            android:name=".ui.questionpaper.QuestionPaperDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".ui.course.CourseDetail"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name="com.nibmglobal.nibm.ui.fees.PaymentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.nibmglobal.nibm.ui.main.OtherPaymentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.Freeprospectus.Freeprospectusactivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nibmglobal.nibm.ui.initial.InitialActivity"/>
        </activity>
        <activity android:name=".ui.Webinar.Webinar_activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nibmglobal.nibm.ui.initial.InitialActivity"/>
        </activity>

        <activity
            android:name="com.nibmglobal.nibm.ui.videos.privatevideos.PrivateVideoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <receiver android:name="com.appsflyer.MultipleInstallBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>


        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />



    </application>

</manifest>
